td.details-control {
    background: url('../images/mais.svg') no-repeat center center;
    cursor: pointer;
    background-size: 33px 43px;
}
tr.shown td.details-control {
    background: url('../images/menos.svg') no-repeat center center;
    background-size:  33px 43px;
}

.none {
  display: none;
}

.uppercase {
    text-transform: uppercase;
}

.input, .dataTables_filter input {
    border: none !important;
    border-bottom: 1px solid #069 !important;
    background: none;
    outline: none !important;
    padding: 6px 5px !important;
    text-align: center !important;
    text-align-last: center !important;
    box-shadow: none !important;
    border-radius: unset !important;
}


.btn.btn-sm.btn-edit {
    box-shadow: none !important;
    border-radius: 4px;
    border: 1px solid transparent;
    background: #EEEEEE;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
    border-color: #d9d9d9;
}


.btn.btn-sm.btn-trash {
    box-shadow: none !important;
    border-radius: 4px;
    border: 1px solid transparent;
    background: #EEEEEE;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
    border-color: #d9d9d9;
}

.btn.btn-edit:hover:enabled, .btn.btn-edit:active, .btn.btn-edit.active { /* .btn.btn-xs:focus,*/
    color: #40a9ff !important;
    background: #EEEEEE !important;
    border-color: #40a9ff !important;
}

.btn.btn-trash:hover, .btn.btn-trash:active, .btn.btn-trash.active { /* .btn.btn-xs:focus,*/
    color: red !important;
    background: #EEEEEE !important;
    border-color: red !important;
}

.overlay, .loading-img {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}


.overlay {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(255, 255, 255, 0.7) !important;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    z-index: 1010;
}

.loading-img {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: url("../images/Spinner-0.8s-40px.gif");
    background-origin: padding-box;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: auto auto;
    z-index: 1020;
}

.alert-success {
    color:#155724!important;
    background-color:#d4edda!important;
    border-color:#c3e6cb!important;
    max-height: 30px;
    font-size: 12px;
    max-width: 170px;
    padding: 2px !important;
    margin-bottom: -5px;
    margin-left: 40%;
    text-align: center;
    display: none;
}

.table-hover>tbody>tr:hover {
    background-color: #e6f7ff !important;
}

.vertical-align {
    vertical-align: middle !important;
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  float: left;
  margin: 6px 2px 36px 8px;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 21px;
  width: 22px;
  background-color: white;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

div.dataTables_wrapper div.dataTables_filter input {
  display: block !important;
  margin-left: 0 !important;
  width: 105% !important;
}

div.dataTables_wrapper div.dataTables_filter label {
  font-weight: bold !important;
  /*text-align: center !important;*/
}

.dataTables_filter {
  float: left !important;
  text-align: center!important;
}

@page{size: auto;}

@media print {
  .header {
    display: none;
  }

  .footer {
    display: none;
  }
}
